@page
@model NorthWindExampleApp4.Pages.CustomerViewModel

@{
    ViewData["Title"] = "Customers";
}

<h1 class="fs-4">Customers</h1>
<form method="post">
    <input id="selectedIndex" type="hidden" asp-for="SelectedIndex" />
    <div class="row mb-4 mt-4">
        <div class="col-md-3">
            <select id="modelColumns" name="Id" class="form-select" asp-items="@Model.ColumnList">
            </select>

        </div>
        <div class="col-6">
            <input type="submit" class="btn btn-outline-dark" value="Order by" asp-page-handler="Submit" />
        </div>
    </div>
</form>


<table class="table table-striped table-primary">
    <thead>
        <tr>
            <th>
                <a asp-page="/CustomerView" asp-route-sortOrder="CompanyName">
                    @Html.DisplayNameFor(model => model.Customers[0].CompanyName)
                </a>
            </th>
            <th>
                <a asp-page="/CustomerView" asp-route-sortOrder="Street">
                    @Html.DisplayNameFor(model => model.Customers[0].Street)
                </a>
            </th>
            <th>
                <a asp-page="/CustomerView" asp-route-sortOrder="City">
                    @Html.DisplayNameFor(model => model.Customers[0].City)
                </a>
            </th>
            <th>
                <a asp-page="/CustomerView" asp-route-sortOrder="Region">
                    @Html.DisplayNameFor(model => model.Customers[0].Region)
                </a>
            </th>
            <th>
                <a asp-page="/CustomerView" asp-route-sortOrder="PostalCode">
                    @Html.DisplayNameFor(model => model.Customers[0].PostalCode)
                </a>
            </th>
            <th>
                <a asp-page="/CustomerView" asp-route-sortOrder="Phone">
                    @Html.DisplayNameFor(model => model.Customers[0].Phone)
                </a>
            </th>
            <th>
                <a asp-page="/CustomerView" asp-route-sortOrder="Fax">
                    @Html.DisplayNameFor(model => model.Customers[0].Fax)
                </a>
            </th>
            <th>
                <a asp-page="/CustomerView" asp-route-sortOrder="ModifiedDate">
                    @Html.DisplayNameFor(model => model.Customers[0].ModifiedDate)
                </a>
            </th>
            <th>
                
                <a asp-page="/CustomerView" asp-route-sortOrder="Contact.LastName">
                    @Html.DisplayNameFor(model => model.Customers[0].Contact.Name)
                </a>
            </th>
            <th>
                <a asp-page="/CustomerView" asp-route-sortOrder="ContactTypeIdentifierNavigation.ContactTitle">
                    @Html.DisplayNameFor(model => model.Customers[0].ContactTypeIdentifierNavigation.ContactTitle)
                </a>
            </th>
            <th>
                <a asp-page="/CustomerView" asp-route-sortOrder="CountryIdentifierNavigation.Name">
                    @Html.DisplayNameFor(model => model.Customers[0].CountryIdentifierNavigation.Name)
                </a>
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactTypeIdentifierNavigation.ContactTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryIdentifierNavigation.Name)
                </td>

            </tr>
        }
    </tbody>
</table>



@section Scripts {

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            if (localStorage.getItem("columnIndex") !== null) {
                document.getElementById("modelColumns").selectedIndex = parseInt(localStorage.getItem("columnIndex"));
            }
        });
        $('form').submit(function (event) {
            localStorage.setItem("columnIndex", document.getElementById("modelColumns").selectedIndex);
        });

    </script>
}
